{% extends "fragments/default.html" %}

{% block navbar %}
{% include "fragments/navbar.html" with active="servers" %}
{% endblock %}

{% block content %}
    <h4>Servers in zone {{ zone.name }}</h4>
    {% if user.is_superuser %}
    <a href="{% url 'server_create' %}" class="btn btn-info">Add server</a>
    <br/><br/>
    {% endif %}
    <table class="table table-hover table-bordered table-condensed">
        <tbody>
            {% for server in servers %}
            <tr class="info">
                <td width="100%"><a href="{% url 'server_view' id=server.id %}">{{ server.hostname }}</a></td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" href="{% url 'server_edit' id=server.id %}" title="Edit settings"><span class="glyphicon glyphicon-edit electric"></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
