body {
    background: #111111;
    color: #ffffff;
    padding-top: 50px;
}

h1, h2, h3, h4 {
    color: #6DBDFF;
}

dl {
    color: #64AEEC;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background: #222222;
    border-right: 1px solid #222222;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #1374C4;
}

.nav-sidebar > li > a:hover {
    color: #fff;
    background: #1374C4;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    background: #1374C4;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
    background: #1374C4;
}

label {
    color: #64AEEC;
}

.form-control {
    background: #222222;
    border-color: #555555;
    color: #64AEEC;
}

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

.panel {
    background: #333;
}

.panel-default {
    border-color: #222;
}

.panel-default>.panel-heading {
    color: #fff;
    border-color: #222;
    background: #333;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
    border-color: #222;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('/static/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/static/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/images/sort_desc_disabled.png') no-repeat center right; }

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #64AEEC;
}

.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning,
.table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning,
.table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td,
.table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
    background-color: #6F0A0D;
}

.table-hover>tbody>tr>td.warning:hover, .table-hover>tbody>tr>th.warning:hover,
.table-hover>tbody>tr.warning:hover>td, .table-hover>tbody>tr.warning:hover>th {
    background-color: #6F313B;
}

tr.warning a{
    color: #F26F85;
}

.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info,
.table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info,
.table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td,
.table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
    background-color:#20374B;
    color: #64AEEC;
}

.table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover,
.table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr.info:hover>th {
    background-color:#336692
}

tr.info a{
    color: #52A5EA;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color:#20374B;
}

table.table thead {
    color: #64AEEC;
}

table.table-bordered {
    border: 1px solid #64AEEC;
    color: #64AEEC;
}

table.table {
    color: #52A5EA;
}

.progress {
    background: #222222;
    margin-bottom: 0px;
}

.electric {
    color: #64AEEC;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open .dropdown-toggle.btn-default {
    background: #222;
}

.btn-default {
    background: #333;
    border: 1px solid #64AEEC;
}

ul.dropdown-menu {
    background: #222;
}
ul.dropdown-menu a{
    color: #64AEEC;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background:#333;
    color: #fff;
}
