{% include "fragments/head.html" with nav_active="servers" %}

     <div class="row-fluid">
        <div class="span9">
            <h4>System capacity</h4>

            <div class="row-fluid">
                <div class="span3">Total free memory:</div><div class="span9">{{ global.freemem }} MB</div>
            </div>
            <div class="row-fluid">
                <div class="span3">Total memory:</div><div class="span9">{{ global.totalmem }} MB</div>
            </div>

            <div class="row-fluid">
                <div class="span3">Core contention:</div><div class="span9">{{ global.corecontend }}</div>
            </div>

            <p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Template</th><th>Capacity</th></tr></thead>
                    <tbody>
                        {% for template, count in template_slack %}
                            <tr>
                                <td>{{ template.name }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </p>
        </div>
    </div>

     <div class="row-fluid">
        <div class="span9">
            <h4>Servers</h4>
            <table class="table table-hover table-bordered table-condensed">
                <tbody>
                    {% for server in servers %}
                    <tr>
                        <td><a href="{% url 'server_view' id=server.id %}">{{ server.hostname }}</a></td>
                        <td>
                            <div class="progress progress-striped">
                                <div class="bar" style="width: {{server.mem_util}}%;">{{server.mem_used}}MB / {{server.mem_total}}MB</div>
                            </div>
                        </td>
                        <td width="1em">
                            <div class="btn-group">
                                <a class="btn" href="{% url 'server_edit' id=server.id %}" title="Edit settings"><i class="icon-edit"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% include "fragments/foot.html" %}
