{% include "fragments/head.html" with nav_active="home" %}

    <div class="row-fluid">
        <div class="span12">
            <h4>VMs</h4>
            <p>
                <table class="table table-hover table-bordered table-condensed" id="vmlist">
                    <thead><tr><th>VM</th><th>IP</th><th>Memory</th><th>Status</th><th>Placement</th><th></th></tr></thead>
                    <tbody>
                        {% for vm in vms %}
                        <tr  {% if vm.status == 'Running' %}class="success"{%else%}class="error"{%endif%}>
                            <td >{{ vm.name }}</td>
                            <td>{{ vm.ip }}</td>
                            <td>{{ vm.memory }} MB</td>
                            <td>{{ vm.status }}</td>
                            <td>{{ vm.xenserver.hostname }}</td>
                            <td width="1em">
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'reboot_vm' id=vm.id %}" title="Reboot" onclick="return confirm('Are you sure you wish to reboot {{ vm.name }}?')"><i class="icon-refresh"></i></a>
                                    {% if vm.status == 'Running' %}
                                    <a class="btn" href="{% url 'stop_vm' id=vm.id %}" title="Stop" onclick="return confirm('Are you sure you wish to stop {{ vm.name }}?')"><i class="icon-stop"></i></a>
                                    {% else %}
                                    <a class="btn" href="{% url 'start_vm' id=vm.id %}" title="Start" ><i class="icon-play"></i></a>
                                    {% endif %}
                                    <a class="btn" href="{% url 'terminate_vm' id=vm.id %}" title="Terminate" onclick="return confirm('Are you sure you wish to terminate {{ vm.name }}?')"><i class="icon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>

    <hr>
  <div class="footer">
  </div>
</div>

   
    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/jquery.dataTables.min.js"></script>
    <script>

                $.extend( $.fn.dataTableExt.oStdClasses, {
                    "sWrapper": "dataTables_wrapper form-inline"
                } );

                $('#vmlist').dataTable( {
                        "bPaginate": false,
                        "sDom": "<'row-fluid'<'span8'l><'span4'f>r>t<'row-fluid'<'span9'i><'span3'p>>",
                        "oLanguage": {
                                "sLengthMenu": "_MENU_ records per page"
                        }
                } );
    </script>
  </body>
</html>

