{% include "fragments/head.html" with nav_active="home" %}

     <div class="row-fluid">
        <div class="span9">
            <h4>System capacity</h4>

            <div class="row-fluid">
                <div class="span3">Total free memory:</div><div class="span9">{{ global.freemem }} MB</div>
            </div>

            <div class="row-fluid">
                <div class="span3">Core contention:</div><div class="span9">{{ global.corecontend }}</div>
            </div>

            <p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>Template</th><th>Capacity</th></tr></thead>
                    <tbody>
                        {% for template, count in template_slack %}
                            <tr>
                                <td>{{ template.name }}</td>
                                <td>{{ count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </p>
        </div>
    </div>

    {% for server in servers %}

    <div class="row-fluid">
        <div class="span9">
            <h4>{{ server.hostname }}</h4>
            <div class="row-fluid">
                <div class="span3">Memory utilisation:</div>
                <div class="span9">
                    <div class="progress progress-striped">
                        <div class="bar" style="width: {{server.mem_util}}%;">{{server.mem_used}}MB / {{server.mem_total}}MB</div>
                    </div>
                </div>
            </div>
            <p>
                <table class="table table-hover table-bordered table-condensed">
                    <thead><tr><th>VM</th><th>IP</th><th>Memory</th><th>Status</th><th></th></tr></thead>
                    <tbody>
                        {% for vm in server.vms %}
                        <tr  {% if vm.status == 'Running' %}class="success"{%else%}class="error"{%endif%}>
                            <td width="100%">{{ vm.name }}</td>
                            <td>{{ vm.ip }}</td>
                            <td>{{ vm.memory }} MB</td>
                            <td>{{ vm.status }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn" href="{% url 'reboot_vm' id=vm.id %}" title="Reboot" onclick="return confirm('Are you sure you wish to reboot {{ vm.name }}?')"><i class="icon-refresh"></i></a>
                                    {% if vm.status == 'Running' %}
                                    <a class="btn" href="{% url 'stop_vm' id=vm.id %}" title="Stop" onclick="return confirm('Are you sure you wish to stop {{ vm.name }}?')"><i class="icon-stop"></i></a>
                                    {% else %}
                                    <a class="btn" href="{% url 'start_vm' id=vm.id %}" title="Start" ><i class="icon-play"></i></a>
                                    {% endif %}
                                    <a class="btn" href="{% url 'terminate_vm' id=vm.id %}" title="Terminate" onclick="return confirm('Are you sure you wish to terminate {{ vm.name }}?')"><i class="icon-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </p>
        </div>
    </div>

    {%  endfor %}

{% include "fragments/foot.html" %}
